<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Lorum Ipsum</h1>
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegiser)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>